/*top S*/
html,body,.t_syh {
    min-width: 100%;
}
.t_syh {
    height: 100px;
    background: #000;
    margin: 0 auto;
}
.t_syh div {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
}
.t_syh b {
    width: 200px;
    height: 26px;
    margin-top: 34px;
}
.t_syh b img {
    width: 200px;
    height: auto;
}
.t_syh ul {
    margin-left: 600px;
}
.t_syh li a {
    float: left;
    font: 400 16px/100px "Microsoft yahei";
    color: #919191;
    margin-left: 44px;
}
.t_syh li a:hover {
    color: #fff;
}
/*top E*/
/*nav S*/
.navdw {
    width: 100%;
    height: 500px;
    margin: 0 auto;
    background: url(../img/anli_bg.jpg) no-repeat;
    background-color: #F2F2F2;
}
.wrapdw{
    width:80%;
    height: 450px;
    margin:0 auto;
}
.slidedw {
    width: 1110px;
    height:450px;
    margin: 0 auto;
    position: relative;
}
.slidedw img{
    position: absolute;
    left:0;
    top:0;
}
.arrowdw{
    opacity: 0;
}
.prevdw,.nextdw{
    width:76px;
    height:112px;
    position: absolute;
    top:50%;
    margin-top:-56px;
    z-index: 99;
}
.prevdw{
    left: -20px;
    background: url(../img/anli_prev.png) no-repeat;
}
.nextdw{
    right:-10px;
    background-image: url(../img/anli_next.png);
}
.anli_navdw{
    width: 750px;
    height: 40px;
    margin-left: 325px;
    margin: 0 auto;
}
.anli_navdw ul li{
    width: 150px;
    height: 40px;
    background-color: #222;
    line-height: 40px;
    text-align: center;
    color: #fff;
    cursor: pointer;
}
.anli_navdw .run{
    float: left;
    width: 20px;
    height: 20px;
    background-color: #f00;
    opacity: 0;
}
/*nav E*/
/*content S*/
.contdw {
    display: none;
}
.current{
    display: block;
}
.anli_navdw .navdwcurrent{
    background-color: #fff;
    color: #000;
}
.anli_content{
    width: 1140px;
    margin: 0 auto;
    padding-top: 90px;
    padding-bottom: 150px;
}
.anli_content .gmbox{
    height: 374px;
    border: 1px solid #D0D0D0;
    margin-bottom:10px;
    background-color: #F9F9F9;
    position: relative;
    margin-top: 100px;
    opacity: 0.4;
}
.anli_content .gmbox i{
    position: absolute;
    width: 68px;
    height: 68px;
    background-image: url(../img/anli_play.png);
    top: 10px;
    left: 10px;
    cursor: pointer;
}
.anli_content .gmbox .anli_dis{
    position: absolute;
    width: 100%;
    height:640px;
    background-color: #fff;
    top: 0;
    left: 0;
    z-index: 10;
}
.anli_content video {
    width: 100%;
    height: 100%;
    z-index: 30;
}
.expb{
    position: absolute;
    width: 20px;
    height: 20px;
    z-index: 20;
    top:10px;
    right: 10px;
    line-height: 20px;
    text-align: center;
    color: #fff;
    z-index: 40;
}
.anli_icon{
    width: 114px;
    height: 254px;
    padding-top: 120px;
    padding-left: 112px;
    float: left;
}
.anli_icon img{
    width: 94px;
    height: 94px;
     margin-left: 10px;
}
.anli_icon p{
    padding-top: 25px;
    text-align: center;
    color: #898989;
    font-size: 16px;
}
.gmdetial{
    padding: 88px 120px 0 100px;
    width: 325px;
    height: 254px;
    float: left;
}
.gmdetial h3{
    color: #898989;
    font-size: 32px;
    font-family: "ylh35";
    text-align: left;
}
.gmdetial p{
    font-size: 14px;
    line-height: 26px;
    font-family: 'litteFont';
    color: #898989;
    margin-top: 20px;
}
.gmpic{
    width: 355px;
    height: 356px;
    margin: 30px 0 0 0;
}
.gmpic img{
    width: 300px;
    height: 300px;
}
.anli_Bigimg{
    transition: all 2s ease-in-out;
    transform: rotateY(0deg);
}
/*content E*/
/*foot S*/
.friendlink_syh {
    width: 100%;
    height: 173px;
    border-top: 1px solid #E3E3E3;
    background: #EFEFEF;
}
.friendlink_syh .rele dl {
    line-height: 28px;
    margin: 42px 124px 0 0;
}
.friendlink_syh .rele dt a {
    font: 500 16px "Microsoft yahei";
    color: #434343;
}
.friendlink_syh .rele dd a {
    font: 14px "Microsoft yahei";
    color: #434343;
}
.friendlink_syh .code {
    margin-top: 40px;
}
.friendlink_syh .code p {
    text-align: right;
}
.friendlink_syh .code .code_syh {
    font: 400 14px/20px "Microsoft yahei";
}
.friendlink_syh .code .code_sy {
    font: 900 22px/20px "Microsoft yahei";
}
.footer_syh {
    width: 100%;
    height: 108px;
    background: #151515;
}
.footer_syh .footer_l {
    width: 500px;
    font: 400 14px/24px "Microsoft yahei";
    color: #ACACAC;
    padding-top: 30px;
}
.footer_syh .footer_r p {
    height: 100%;
    font: 400 16px "Microsoft yahei";
    color: #ACACAC;
    text-align: center;
    margin-top: 42px;
}
/*foot E*/

